Basis-Layout * {
  box-sizing: border-box;
}

/* Header */
.header {
  width: 100%;
  background-color: #CECECE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.btn_ban {
  border-radius: 20%;
  background-color: purple;
  border-color: purple;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.btn_ban:hover {
  border-radius: 20%;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-icon {
  font-size: 1.3rem;
}

/*Body Content*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dcdcdc;
}

.page-wrapper {
  display: flex;
  justify-content: center;
}

.content {
  width: 60%;
  background-color: #f8f6f5;
  padding: 16px;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.create-btn {
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.search-input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.card {

  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin-bottom: 10px;

}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card p {
  margin: 4px 0;
  font-size: 14px;
}

.card-actions {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}


.icon-btn {
    flex: 1; 
    text-align: center;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.icon-btn:hover {
    background-color: #6c63ff;
    color: white;
}

.status-approved {

  background-color: #d4edda;
  color: #155724;
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: bold;
}

.status-open {
  background-color: #f8d7da;
  color: #721c24;
}